<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>school</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file> <!-- 웹 어플리케이션 실행 시 제일 먼저 호출되는 페이지 설정 -->
  </welcome-file-list>
</web-app>